<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Awesome Tweets</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/posts/new">Dashboard</a>
      <img id=logobird src='/images/bird.png'/>
    </div>
