<%- include('./partials/header') %>
<style>
h1 {
   position: absolute;
   top: 375px;
   left: 325px;
   width: 100%;
}
h1 span {
   color: darkblue;
   font: bold 102px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   padding: 10px;
}
</style>

<div class = "image">
  <img src='/images/clouds.jpg'/>

<h1><span> Awesome Tweets </span> </h1>
</div>

<%- include('./partials/footer') %>
